$color-primary: #252525;
$color-orange: #F4D011;
$color-orange-hover:#FFE247;
$color-orange-active: #FFEB7F;
$color-background-gray: #F2F2F2;
$color-light: white;
$color-light-black:#252525;
$color-word-black: #171717;
$color-button-black: #484848;
$color-transp-black: rgba(23, 23, 23, 0.8);
$color-overlay: rgba(0, 0, 0, 0.7);
$color-red: #f15a46;
$color-disable-gray: #b1b1b1;

$content-width: 1300px;
$screen1200: 1200px;
$screen900: 900px;
$tablet-width: 768px;
$screen610: 610px;
$mobile-big-width: 500px;
$mobile-small-width: 320px;